body {
	font-family: sans-serif;
	background-image: url(../img/bg.jpg);
}

.section {
    text-align: center;
    margin: 50px 0;
}

.section h1 {
    font-style: italic;
    font-family: fantasy;
    color: #d4d4d4;
    margin: 30px auto;
}

.section article {
    width: 80%;
    margin: 30px auto;
    color: #d4d4d4;
    font-size: 18px;
}

.footer {
    margin-top: 100px;
    text-align: center;
    color: #ffffff;
}

.footer ul {
    display: inline-flex;
    list-style: none;
}

.footer ul li {
    margin: 0 5px;
}

.navbar-toggler {
    background-color: #ffffff;
}
